$black: #333;
$white: #ffffff;
$darkGreen: #2b4d32;
$negative: #d14e4e;
$positive: #162fb9;
$stable: #707070;

$breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 580px,
  'lg': 900px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin media-breakpoint($breakpoint) {
  $breakpoint-px: map-get($breakpoints, $breakpoint);

  @if $breakpoint-px == 0 {
    @content;
  } @else {
    @media (max-width: $breakpoint-px) {
      @content;
    }
  }
}
// https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action sobre editar posição no mobile

.legend {
  background-color: rgba(29, 52, 34, 0.9);
  color: white;
  position: absolute;
  z-index: 3;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 18px;
  font-weight: 600;
  border: 40px 10px;
  border-radius: 5px;
  &__symbol_value {
    font-size: 14px;
  }
  &__symbol_name {
    font-size: 12px;
  }
}

.grafico-cotacoes-container {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 16px;
  color: $black;

  .title {
    font-size: 20px;
    margin-bottom: 14px;
  }
}

button {
  font-weight: bold;
  align-items: flex-start;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  height: 29px;
  text-align: center;
  text-shadow: none;
  margin: 0px 10px 14px 0px;
  background-color: $white;
  color: $darkGreen;
  border: solid 1px;

  &:disabled {
    background-color: $darkGreen;
    color: $white;
    transform: translateY(1px);
  }
}

.quotation {
  display: flex;
  overflow: hidden;
  gap: calc(05% - 0px);
  margin-bottom: 10px;

  &__name {
    font-size: 18px;
    font-weight: normal;
  }
}

.quotation__value {
  font-weight: bold;
  position: relative;

  &-positive {
    color: $positive;
    &::before {
      content: '';
      position: absolute;
      margin: 7px 0px 0px -20px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $positive;
    }
  }

  &-negative {
    color: $negative;
    &::before {
      content: '';
      position: absolute;
      margin: 5px 0px 0px -20px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $negative;
    }
  }

  &-stable {
    &__value {
      color: $stable;
      &::before {
        content: '●';
        color: $stable;
        margin-right: 5px;
      }
    }
  }
}

.update {
  width: 186px;
  // font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #333;
  padding-top: 8px;
}
